.cont {
	margin: 7.6rem 0 15.5rem 0;
	width: 75.6rem;
	/* margin-bottom: ; */
}

.box {
	background-color: white;
	font-weight: 400;
	font-size: 2rem;
	height: auto;
	border-radius: 20px;
	color: #4e598c;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	margin-bottom: 7.5rem;
}

table {
	border-collapse: collapse;

	width: 75.6rem;
}

thead > tr {
	background-color: #2f80ed;

	color: white;
}
thead td {
	padding: 2rem 8rem;
	margin-bottom: 2rem;
}
thead td:last-child {
	text-align: right;
}

tr:first-child td:first-child {
	border-top-left-radius: 20px;
}

tr:first-child td:last-child {
	border-top-right-radius: 20px;
}
tfoot:last-child td:first-child {
	border-bottom-left-radius: 20px;
}
tfoot:last-child td:last-child {
	border-bottom-right-radius: 20px;
}

tbody:before {
	line-height: 3rem;
	content: ".";
	visibility: hidden;
	display: block;
}
tbody {
	background-color: #fff;
}
tbody td {
	padding: 2.7rem 8rem;
}
tbody > tr:first-child td {
	margin-top: 2rem;
}

tbody td:last-child {
	text-align: right;
}

tfoot td {
	padding: 2rem 8rem;
}

.line {
	background-color: blue;
}

.sumCont {
	/* width: 70rem; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 10rem; */
	background-color: white;
	/* border-top: 1px solid black; */
	/* margin: 0 auto; */
}
.sumline {
	padding-top: 4rem;
	padding-bottom: 4rem;
	/* the one in the exercise is not properly spaces */
	width: 68rem;
	height: auto;
	border-top: 1px solid #c0bfcf;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sum {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 61.3rem;
	height: 5.5rem;
	border: 1px solid #c0bfcf;
	border-radius: 5px;
	/* margin-top: 2rem; */
}

.digit {
	padding: 0 2rem;
}

.box2 {
	width: 70.5rem;
	height: auto;
	/* margin-top: -3.5rem; */
}
.select {
	width: 100%;
	height: 6rem;
	border: 1px solid black;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

select {
	height: 4rem;
	font-size: 2rem;
}

.card {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 8.5rem;
}

.cardDetail {
	width: 55.2%;
}

.cardCvv {
	width: 14.5%;
}

.cardExp {
	width: 18.5%;
}

.bx {
	margin-bottom: 5rem;
}

.inputSm {
	height: 3rem;
	width: 2rem;
	/* background-color: red; */
	-webkit-appearance: none;
	font-size: 1.8rem;
	font-weight: 400;
	outline: none;
	border: none;
	padding: 0.5rem;
}
.smbox {
	/* background-color: blue; */
	width: 100%;
	height: 6rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}

.slash {
	font-size: 1.8rem;
	font-weight: 400;
	margin: 0 1rem;
}

.asterisk {
	position: absolute;
	margin-left: 0.8rem;
}
.label {
	margin-bottom: 1.5rem;
}
