.cont {
	width: 70.5rem;
	height: auto;
	/* background-color: green; */
	margin-top: 18rem;
}
label {
	font-size: 2rem;
	font-family: "Poppins";
	font-weight: 600;
}

.title {
	font-size: 3.7rem;
	color: #4e598c;
	font-family: "Poppins";
	font-weight: 600;
}
.head {
	font-size: 2.4rem;
	margin-top: 4rem;
	padding: 1.2rem 0 2.2rem 0;
	font-family: "Poppins";
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}

/* [.head > a {
	color: #bdbdbd;
}] */
/* .head > a:active,
a:focus {
	color: #f2994a;
} */

.active {
	color: #f2994a;
}
.notActive {
	color: #bdbdbd;
}
