.input {
	height: 4rem;
	border: 1px solid black;

	width: calc(100% - 5.4rem);
	border-radius: 5px;
	font-size: 1.9rem;
	font-family: "Poppins";
	font-weight: 400;
	padding: 1rem 2.7rem;
	-webkit-appearance: none;
}
