:root {
	/* --background-color: #16202a;
	--section-color: #121921;
	--header-color: #1993fc; */
	--love: #ef5da8;
	/* --num-color: #a5a5a5;
	--light-grey: #fafafa;
	--dark-grey: #f2f2f2;
	--border: 1px solid rgba(245, 255, 248, 0.3); */
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	font-family: "Poppins";
	/* color: white; */
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
